.container {
  display: flex;
  background-color: #db718f;
}
.cardImg {
  height: 100vh;
  width: 70vw;
  object-fit: none;
}
.loginCardContainer {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  margin: 5px;
}
.loginCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
