.todoPageContainer {
  display: flex;

  background-color: #40426e;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .column {
    height: 100vh;
    border-right: 2px solid #0c0c15;
    background-color: #cdcff5;
    @media (max-width: 767px) {
      padding: 2rem 0rem 1rem;
      border-right: 0;
      border-bottom: 2px solid #484c7f;
    }
    .userInfoContainer {
      border-radius: 1rem;
      background-color: #40426ed2;
      -webkit-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      color: #efcbf1;
      padding: 1rem;
      margin: 2rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767px) {
        justify-content: space-around;
        margin: 0 2rem;
      }
      .nameContainer {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        line-height: 2;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 1.5rem;
        .userFirstName {
          text-transform: capitalize;
        }
        .userLastName {
          text-transform: uppercase;
        }
      }
    }
    .categorySection {
      padding: 1rem;
      @media (max-width: 767px) {
        width: 80%;
        margin: auto;
      }
      #categoryTitle {
        font-size: 2rem;
        font-weight: 500;
        margin: 1rem 0;
        color: #4842a8;
      }
      .categoryInputContainer {
        margin: 2rem 0;
        .addCategory {
          background-color: #3d6ee298;
          color: #ffffff;
          letter-spacing: 1px;
        }
        .resetAll {
          background-color: #c9485b;
          letter-spacing: 1px;
        }
      }
      .categoryList {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: #f898b748;
        color: rgb(31, 27, 27);
        -webkit-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
        .categoryContainer {
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.5rem 1rem;
          @media (max-width: 767px) {
            margin: 0.3rem 1rem;
          }
          .category {
            font-size: 18px;
            font-weight: 500;
            color: #40426e;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    position: relative;
    @media (max-width: 767px) {
      justify-content: center;
    }
    .card {
      background-color: #cdcff5;
      backdrop-filter: blur(2px);
      display: flex;
      flex-direction: column;
      position: relative;
      width: 300px;
      height: 400px;
      margin: 15px;
      border-radius: 1rem;
      -webkit-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 26px -9px rgba(0, 0, 0, 0.6);
      //todoaddd btn
      .todoAdd {
        background-color: #3d6ee298;
        color: #ffffff;
        letter-spacing: 1px;
      }
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
        &:hover {
          opacity: 1;
        }
        .editBtn {
          align-self: center;
          cursor: pointer;
          background-color: #2f3275;
          color: #ffffff;
          letter-spacing: 1px;
        }
        .deleteBtn {
          align-self: center;
          cursor: pointer;
          background-color: #c9485b;
          letter-spacing: 1px;
        }
      }
      .cardContent {
        .closeBtnCotainer {
          display: flex;
          justify-content: space-between;
          margin: 5px 10px 20px;
          border-bottom: #484c7f 1px solid;
          padding: 10px;
          font-style: italic;
          font-weight: 500;
          text-transform: capitalize;
          .closeBtn {
            font-style: normal;
            cursor: pointer;
            width: max-content;
          }
        }
        .cardTitle {
        }
        .todoOverflow {
          overflow-y: auto;
          height: 150px;
          .todoContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.2rem 1rem;
            .todoItem {
              font-weight: 500;
              text-transform: capitalize;
            }
          }
        }
      }
      .saveBtn {
        margin: auto;
        cursor: pointer;
        background-color: #9294df;
        color: #ffffff;
        letter-spacing: 1px;
      }
    }
    .createCard {
      color: #40426e;
      .createBtn {
        background-color: #cb99cf;
        color: #ffffff;
        letter-spacing: 1px;
      }
    }
  }
}
