.todoPageContainer {
  display: flex;

  .column {
    height: 50vh;
    border: 1px solid black;
  }
  .userInfoContainer {
    border: 1px solid black;
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 25px;
    .card {
      width: 200px;
      height: 300px;
      margin: 15px;
      border: 1px solid black;
    }
  }
}
