.todoPageContainer {
  display: flex;

  .column {
    height: max-content;
    padding: 1rem;
    border: 1px solid black;
  }
  .userInfoContainer {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .categorySection {
    border: 1px solid black;
    padding: 1rem;
    .categoryList {
      display: flex;
      flex-direction: column;
      height: max-content;
      .categoryContainer {
        display: flex;
        align-items: center;
        .category {
          text-align: left;
        }
      }
    }
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    position: relative;
    .card {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 200px;
      height: 300px;
      margin: 15px;
      border: 1px solid black;
      .overlay {
      }
      .todoContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.2rem 1rem;
      }
      .editBtn {
        align-self: center;
        border: 1px solid black;
        background-color: whitesmoke;
        cursor: pointer;
      }
      .deleteBtn {
        align-self: center;
        border: 1px solid black;
        background-color: whitesmoke;
        cursor: pointer;
      }
      .saveBtn {
        border: 1px solid black;
        bottom: 0;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
